[submodule "backend"]
	path = backend
	url = https://github.com/acoli-repo/fintan-backend.git
[submodule "loaders/llodifier"]
	path = loaders/llodifier
	url = https://github.com/acoli-repo/LLODifier.git
[submodule "loaders/conll-merge"]
	path = loaders/conll-merge
	url = https://github.com/acoli-repo/conll-merge
[submodule "loaders/xml2conll"]
	path = loaders/xml2conll
	url = https://github.com/acoli-repo/xml2conll
[submodule "core"]
	path = core
	url = https://github.com/acoli-repo/fintan-core.git
[submodule "doc"]
	path = doc
	url = https://github.com/acoli-repo/fintan-doc.git
