	<div class="gradient-bg" style="height:350px">
		<div class="slide-holder">
			<div class="container">
				<div class="row">
                    <h1><span class="text-special">F</span>lexible
                        <span class="text-special">In</span>tegrated
                        <span class="text-special">T</span>ransformation and
                        <span class="text-special">A</span>nnotation
                        E<span class="text-special">n</span>gineering</h1>
					<div class="col-lg-6">
						<h2 class="text-special" style="margin-top: 1em">
							Data transformation platform based on Linked Data
						</h2>
						<p style="color: #888">
							Visually create a data transformation pipeline using defined or your own Loaders, Updaters and Writers.
						</p>

                        <div class="btn-group">
                            <a href="./pipelines/create" class="btn btn-primary btn-big-round">Create a new pipeline</a>
<!--                            <a href="./pipelines/list" class="btn btn-primary btn-big-round">Load a transformation</a>-->
<!--                            <a href="./pipelines/status" class="btn btn-primary btn-big-round">Tasks status</a>-->
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>